@model Sistema_de_supermercado_com_aspnet_core.Models.Estoque;

@{
    Layout = "_LayoutAdmin";
}

<h2>Novo Estoque</h2>
<hr/>

<form method="POST" asp-controller="Estoque" asp-action="Salvar">
    
    <label asp-for="ProdutoId">Produto: </label>
    <select class="form-control" asp-for="ProdutoId" asp-items='@(new SelectList(@ViewBag.Produtos,"Id","Nome"))' ></select>
    <span asp-validation-for="ProdutoId"></span><br>

    <label asp-for="Quantidade">Quantidade: </label>
    <input type="number" step="any" class="form-control" asp-for="Quantidade" placeholder="Quantidade">
    <span asp-validation-for="Quantidade"></span><br>
    <br>
    <button class="btn btn-success">Cadastrar</button>
</form>